<footer>
    <div class="f-info">
        <h4>Yatra-Nest</h4>
        <p>A platform that manages the end to end travel, property purchase, renting & many more...</p>
        <div>
            <ul class="foot-link">
                <li><a class="f-nav-link" href="/">Home</a></li>
                <li><a class="f-nav-link" href="/listing">Explore</a></li>
                <li><a class="f-nav-link" href="/listing/new">Book Nest For Yatra</a></li>
             </ul>
        </div>
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <p>&copy; 2025 Yatra-Nest. All rights reserved.</p>
    </div>
</footer>