/* body{
    background-color: pink;
} */

/* navbar */


body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400 !important; /* or adjust as needed */
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(232, 224, 212) !important;
}

.container{
    /* display: flex; */
    flex: 1;
}


.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}


/* footer */

.f-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color:  rgb(51, 51, 51);;
    padding: 0.4rem;
    color: white;
}

.nav-link{
    color: rgb(0, 0, 0) !important;
}

.foot-link{
    display: flex;
    list-style: none;
}

.f-nav-link{
    color: white !important;
    margin-right: 0.8rem;
    text-decoration: underline;
}

.f-info-socials{
    font-size: 1.5rem;
}



/* .card:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease-in-out;
} */



/* cards */

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
    background-color: rgb(232, 224, 212) !important;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}


.card-links{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}



.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}



/* show img */

.show-img{
    height: 30vh !important;
}


.btns{
    display: flex;
}